doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.js' integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=' crossorigin='anonymous')

  body
    block content

  script(src='/javascripts/dynamicListener.js')
  script(src='/javascripts/script.js' mode-game="#{mode_game}" game-level="#{level}")
